
<div class="container-fluid" style="align-items-center">
  <div>
    <h1>Welcome to Secret Santy, if you are a returning user please sign in below!</h1>
  </div>
  <br>
  <div class="card d-flex" style="width: 300px">
    <div form class="row g-3" style="width: 300px">     
      <%= form_for(:session, url: login_path) do |form| %>
          <br>
          <div class="col-8 mx-auto">
            <%= form.label :email %>
            <%= form.email_field :email %>
          </div>           
          <div class="col-8 mx-auto">
            <%= form.label :password%>
            <%= form.password_field :password %>
          </div>
          <br>
          <div class="col-4 mx-auto">
            <button type="button" class="btn btn-primary"><%= form.submit "Login" %></button>
            <% end %>
          </div>
      </form>
    </div>
    <br>
  </div>
<br>
  <div>
    <h2>If you are a new user Sign up <%= link_to " here", new_user_path %></h2>
  </div>
</div>