<div class="container-fluid">
  <h1> Sign up for Secret Santy Below!</h1>
    <div>
      <ul>
        <% if @user.errors.any? %>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
      </ul>
      <% end %>
    </div>

  <div class="card d-flex justify-content-center" style="width: 400px">
    <form style="width: 360px">
      <%= form_for @user do |form| %>
        <div class="mb-3">
            <%= form.label :name %>
            <%= form.text_field :name%>
        </div> 
        <div class="mb-3">
            <%= form.label :username %>
            <%= form.text_field :username%>
        </div> 
        <div class="mb-3"> 
            <%= form.label :email %>
            <%= form.email_field :email%>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3"> 
            <%= form.label :password %>
            <%= form.password_field :password%>
            <span id="passwordHelpInline" class="form-text">
              Must be 8-20 characters long.
            </span>
        </div>
        <%= form.hidden_field :secret_santa_id%>
        <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button" ><%= form.submit %></button>
        <% end %>
        </div>
    </form>
  </div>
</div>