<div class="container-fluid">
  <h1> Sign up for Secret Santy Below!</h1>
    <div>
      <ul>
        <% if @user.errors.any? %>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
      </ul>
      <% end %>
    </div>

  <div class="card d-flex justify-content-center" style="width: 400px">
    <div form style="width: 360px">
      <%= form_for @user do |form| %>
          <div class="mb-3">
              <label for="name" class="col-form-label"><%=form.label :name %></label>
              <input type=<%form.text_field :name%> id="name" class="form-control" aria-describedby="nameHelpInline">
          </div> 

          <div class="mb-3"> 
              <label for="email" class="col-form-label"><%=form.label :email %></label>
              <input type=<%form.email_field :email%> id="email" class="form-control" aria-describedby="emailHelpInline">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3"> 
              <label for="inputPassword6" class="col-form-label"><%=form.label :password %></label>
              <input type=<%form.password_field :password%> id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
              <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
              </span>
          </div>
          <%= form.hidden_field :secret_santa_id%>
          <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="button" ><%= form.submit %></button>
          <% end %>
          </div>
      </form>
    </div>
</div>