
<ul class="nav nav-pills nav-fill">
  <button class="btn btn-outline-success me-2" type="button">
    <%= link_to "Home", "/", class: "nav-link" %>
  </button>
  <% if session[:user_id]%>
  <button class="btn btn-outline-success me-2" type="button">
    <%= link_to "Your Profile", current_user, class: "nav-link" %>
  </button>
  <button class="btn btn-outline-success me-2" type="button">
    <%= link_to "Your Gift List", user_gifts_path(current_user), class: "nav-link"  %>
  </button>
    <button class="btn btn-outline-success me-2" type="button">
    <%= link_to "Your Brand List", brand_path(current_user), class: "nav-link"  %>
  </button>
  <button class="btn btn-outline-success me-2" type="button">
    <%= button_to "Log Out", logout_path, method: :delete, class: "nav-link" %>
  </button>
  <% end %>
</ul>
